<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AgriNow devices</title>

  <link rel="stylesheet" href="/materialize.min.css">
  <link rel="stylesheet" href="/style.css">

    <script src="jquery-3.3.1.min.js"></script>
    <script src="materialize.min.js"></script>
    <script src="script.js"></script>
</head>
<body class="container">
  <div class="watermark"></div>
  <h1>AgriNow devices </h1>
  <div class="btn-container">
    <a class="waves-effect waves-light btn" onclick="addDevice()">Add Device</a>
    <a class="waves-effect waves-light btn" onclick="downloadConfiguration()">Download</a>
  </div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>MQTT Topic</th>
      <th>Friendly Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% devices.forEach(device => { %>
      <tr data-id="<%= device.id %>">
        <td><%= device.id %></td>
        <td><%= device.topic %></td>
        <td><%= device.name %></td>
        <td>
          <a class="waves-effect waves-light btn-small edit-btn" onclick="editDevice('<%= device.id %>', '<%= device.topic %>', '<%= device.name %>')">Edit</a>
          <a class="waves-effect waves-light btn-small red delete-btn" onclick="showDeleteConfirmation('<%= device.id %>')">Delete</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>


  <div id="addForm" class="modal">
    <div class="modal-content">
      <h4>Add Device</h4>
      <form action="/add" method="post" id="newDeviceForm" autocomplete="off">
        <div class="input-field">
          <input id="id" type="text" name="id" id="id" class="validate" required>
          <label for="id">ID</label>
        </div>
        <div class="input-field">
          <input id="topic" type="text" name="topic" id="topic" class="validate" required>
          <label for="topic">MQTT Topic</label>
        </div>
        <div class="input-field">
          <input id="name" type="text" name="name" id="name" class="validate" required>
          <label for="name">Friendly Name</label>
        </div>
        <button class="waves-effect waves-light btn" type="submit" id="newDeviceBtn" disabled>Add Device</button>
      </form>
    </div>
  </div>

    <div id="editForm" class="modal">
    <div class="modal-content">
      <h4>Add Device</h4>
      <form action="/edit" method="post" id="editDeviceForm" autocomplete="off">
        <div class="input-field">
          <input type="hidden" id="origid" name="origid">
          <input id="editid" type="text" name="editid" class="validate" value="" required>
          <label for="editid">ID</label>
        </div>
        <div class="input-field">
          <input id="edittopic" type="text" name="edittopic" class="validate" required>
          <label for="edittopic">MQTT Topic</label>
        </div>
        <div class="input-field">
          <input id="editname" type="text" name="editname" class="validate" required>
          <label for="editname">Friendly Name</label>
        </div>
        <button class="waves-effect waves-light btn" type="submit" id="editDeviceBtn" disabled>Modify Device</button>
      </form>
    </div>
  </div>

  <!-- Modal Structure for Delete Confirmation -->
<div id="confirmDeleteModal" class="modal">
  <div class="modal-content">
    <h4>Confirm Deletion</h4>
    <p>Are you sure you want to delete this device?</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat confirm-delete-btn">Confirm</a>
  </div>
</div>




</body>
</html>
